.counter{
    width: 200px;
    background-color: cornflowerblue;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.counter-button{
    width: 30px;
    height: 20px;
    margin: 0px 2rem;
}

.counter-button-cart{
    width: max-content;
    margin-top: 2rem;
}